<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/inv/type/1">Sport</a></li>
    <li><a href="/inv/type/2">SUV</a></li>
    <li><a href="/inv/type/3">Luxury SUV</a></li>
    <li><a href="/inv/type/4">Truck</a></li>
    <li><a href="/account">My Account</a></li>
  </ul>
</nav>